
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename = 'css/profileuitheme.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'css/game.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
   
    <link rel="shortcut icon" href="{{url_for('static', filename = 'images/favicon.ico')}}" type="image/x-icon">
    <title>Dashboard Profile -  QuickCash</title>
</head>
<body>
{% if current_user.confirmed and  current_user.is_authenticated%}
    <section class="modal hidden">
        <div class="flex">
            <img src="{{url_for('static', filename = 'images/huit.svg')}}" alt="logo du jeu" width="50px" height="50px">
             <button class="btn-close">⨉</button>
        </div>
        <div>
        <div class="flex-1">
            <h3>Cash Rapide</h3>
            <div class="times">
                
            </div>
        </div>
        <div class="numbers">

        </div>
        <div class="play">

        </div>
        <div class="select-currency">
            <select id="monSelect" name="example">
                {% for paid in paids %}
                    <option value="{{ paid }}">{{ paid}}</option>
                {% endfor %}
            </select>
            <span id="xof" class="currency">XOF</span>
        </div>
        
        <button id="mybtn" class="btn disabled">Parier</button>
    </section>
    
    <div class="overlay hidden"></div>
  
    <div class="grid-container">
        <div class="menu-icon">
            <i class="fa-solid fa-bars"></i>
        </div>
        <header class="header">
            <div class="header__search hd">
                <a  class="nav-link" href="{{ url_for('main.historique') }}">
                    <!-- <span class="online">En ligne</span> -->
                </a>
            </div>
            <div class="profil-details header__items">
                <div class="header__avatar ">
                    <img class="avatar__image" id="image" alt="" >
                </div>
                <div class="detail-info">
                    <span class=" dt-items joueur">{{current_user.pseudo|e}}  </span>
                    <span class=" dt-items identifiant">{{numero_client|e}}  </span>
                    <span id="persist_solde" class="dt-items solde-joueur">{{current_user.solde|e}} XOF</span>
                    <div class="detail_solde_timestamp">
                        <span class="solde-joueur" id="timestamp_solde"></span>
                        <span class="solde-joueur" id="currency">XOF</span>
                    </div>
                    
                    
                    
                </div>

            </div>
            <!-- <div class="logout header__items">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">
                     
                    <span class="uis uis-signout"></span>
                </a> 
                
            </div> -->
            <!-- <div class="header__solde header__items"><span>{{current_user.solde|e}} XOF</span></div> -->
            
            
        </header>
        <aside class="sidenav">
            <div class="sidenav-item sidenav__close-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>

            <div class="sidenav-item  logo-app">
                <span class="logo-name">
                    <span class="st">Quick</span><span class="nd">Cash</span>

                </span>
            </div>
            <div class="sidenav-item aside-item">

               
                <div class="sidenav__list-item game-detail">
                   <div class="game-detail-item numero_jeu" >
                    <span class="labels-item numero_jeu_item">N<sup>°</sup>Jeu</span>
                    <span  id="number_game">{{numero_jeu|e}}</span>
                   </div>
                   <div class="game-detail-item date_jeu" >
                    <span class="labels-item date_jeu_item">Date</span>
                    <span  id="date_game">{{formatted_data|e}}</span>
                   </div>
                   <div class="game-detail-item mise_jeu" >
                    <span class="labels-item mise_jeu_item">Set</span>
                    <span  id="set_game">{{mise_jeu|e}}</span>
                   </div>
                   <div class="game-detail-item bet_jeu" >
                    <span class="labels-item bet_jeu_item">Bet </span>
                    <span  id="bet_game">{{numero_parier|e}}</span>
                   </div>
                   <div class="game-detail-item statut_jeu">
                    <span class="labels-item statut_jeu_item">Statut</span>
                    <span  id="statut_game">{{statut|e}}</span>
                   </div>
                </div>
                <div class="more-item">
                    <a href="#">Historiques</a>
                </div>
                <!-- <ul class="sidenav__list">
                    
                    <li class="sidenav__list-item"><span class="desc">Detail Jeu en cour</span> <span class="valeur">not</span></li>
                    <li class="sidenav__list-item"><span class="desc">Numero du jeu</span> <span class="valeur">not</span></li>
                    <li class="sidenav__list-item"><span class="desc">Mise</span><span class="valeur">not</span></li>
                    <li class="sidenav__list-item"><span class="desc">Statut</span><span class="valeur">not</span></li>
                    
                    
                </ul> -->
            </div>
            <a class="nav-link logout-item sidenav-item " href="{{ url_for('auth.logout') }}">Deconnexion
                        
                        
                        <span class="uil uil-signout"></span>
            </a>
        </aside>
        <main class="main">
            <div class="main-header">
                <!-- <div class="main-header__heading"><h1 class="name">Nos jeux</h1><hr class="hr"></div>
                <div class="main-header__updates">
                    <div class="main-header__items main__logo">
                        <img src="{{url_for('static', filename = 'images/huit.svg')}}" alt="logo du jeu" width="56px" height="56px">

                    </div>
                    <div class="main-header__items main__description">
                        <h2 class="desc__name">Cash Rapide</h2>
                        <p>Pariez sur un numéro  allant de 1 à huit <br> puis miser sur la somme que vous voulez pour gagnez encore plus avec QuickCash <br> Gangnez de l'argent rapidement. </p>
                        <button class="btn-open">Jouer</button>
                    </div>
                   
                </div> -->
                
                <!-- <div class="display">
                        
                
                                {{current_user.pseudo|e}}
                                <div id="log"></div>
                        
                                <div id="numbers">

                                </div>
        
        
                        
               </div> -->

               <div class="grid main_description">
                        <div class="main-header__updates">
                            <div class="main-header__items main__description">
                                <div class="main-header__items main__description">
                                    <h2 class="desc__name">Gagne 100 000 XOF avec Free prediction</h2>
                                    <p>Pariez sur un numéro  allant de 1 à huit <br> puis miser sur la somme que vous voulez pour gagnez encore plus </p>
                                </div>
                                <button class="btn-open">Pas Disponible</button>
                            </div>
                        </div>         
               </div>
               <div class="grid main_jeu">
                    <div class="grid-item-header">
                        <h3 class="grid-item-header-title">
                            Cash Rapide
                        </h3>
                        <div class="grid-item-header-statut" id="statut">
                            <span id="live">
                                
                                Live
                            </span>
                            <span id="play">
                                
                                Jeu validé
                            </span>
                            <span id="wait">
                                
                                Attendre
                            </span>
                        </div>
                    </div>
                    <div class="grid-item-main" id="app">
                        <div class="display-header">
                            <span class="display-header-item" id="titletimes">
                              Temps restant
                            </span>
                            <span class="display-header-item" id="tag">
                                
                            </span>
                            <span class="display-header-item" id="numbers">
                               Numero à parier
                            </span>
                            
                            <span class="display-header-item" id="set">
                                
                            </span>
                            <span class="display-header-item" id="set-number">
                               
                            </span>
                            <span class="display-header-item" id="possible-gain">
                               
                            </span>
                        </div>
                        <div class="display-body">
                            <span id="times"></span>
                            <div id="card-numbers">

                            </div>
                            <div id="card-set">

                            </div>
                            <span id="idgame">
                                
                            </span>
                            <div id="valueset">
                                
                            </div>
                            <span id="valuenums">
                                
                            </span>
                            <div id="log">

                            </div>
                            
                        </div>
                    </div>
                    
                    <div  id="card-item">
                        <button id="btn-bet" class="primary-btn-bet">Parier</button>
                        <button id="btn-cancel" class="primary-btn-cancel">Supprimer</button>
                    </div>
                        
                    
                </div>

                
                 
               
               <div class="grid main_quickpay">
                    <div class="deposit-retrait">
                        <div class="tabs">
                            <div id="open" class="tab  tablinks" onclick="openTab(event, 'tab1')"> <p>Depôts</p></div>
                            <div id="open" class="tab tablinks" onclick="openTab(event, 'tab2')"><p>Retraits</p></div>
                        </div>
                        <div id="tab1" class="boxcontent" >
                           
                            <div class="box-ct ct-depot">
                                <form action="" method="post">
                                    <div class="select-op">
                                        <div class="op logo-orange">
                                            <img src="{{url_for('static', filename = 'images/OrangeMoney.webp')}}" alt="Operateur Orange CI" width="48px" height="32px" >
                                        </div>
                                        <div class="op logo-mtn">
                                            <img src="{{url_for('static', filename = 'images/moov-money.webp')}}" alt="Operateur Mtn CI" width="48px" height="32px" >
                                        </div>
                                        <div class="op logo-moov">
                                            <img src="{{url_for('static', filename = 'images/mtn-money.webp')}}" alt="Operateur Moov Africa " width="56px" height="32px">
                                        </div>
                                    </div>
                                    <div class="fields field-2 input-number">
                                       
                                        
                                        <input type="text" class="num" id="cr_no" placeholder="Votre Numéro" minlength="19" maxlength="19">
                                    </div>
                                    <div class="fields field-3 input-montant">
                                        
                                        <input type="text" id="montant" placeholder="Entrez le montant">
                                    </div>
                                    <div class="field-3 field-btn input-montant">
                                        
                                        <input type="button" value="Envoyer">
                                    </div>
                                </form>
                            </div>
                        </div>
                    
                        <div id="tab2" class="boxcontent">
                           
                            <div class="box-ct ct-depot">
                                <form action="" method="post">
                                    <div class="select-op">
                                        <div class="op logo-orange">
                                            <img src="{{url_for('static', filename = 'images/OrangeMoney.webp')}}" alt="Operateur Orange CI" width="48px" height="32px" >
                                        </div>
                                        <div class="op logo-mtn">
                                            <img src="{{url_for('static', filename = 'images/moov-money.webp')}}" alt="Operateur Mtn CI" width="48px" height="32px">
                                        </div>
                                        <div class="op logo-moov">
                                            <img src="{{url_for('static', filename = 'images/mtn-money.webp')}}" alt="Operateur Moov Africa" width="56px" height="32px">
                                        </div>
                                    </div>
                                    
                                    <div class="fields field-3 input-montant">
                                        
                                        <input type="text" id="montant" placeholder="Entrez le montant">
                                    </div>
                                    <div class=" field-3 field-btn input-montant">
                                        
                                        <input type="button" value="Envoyer">
                                    </div>
                                </form>
                            </div> 
                        </div>
                            
                    
                    </div>
                    
               </div>

               
            </div>
           
           
        </main>
        <footer class="footer">
            <!-- <div class="footer__copyright">&copy; 2018 MTH</div>
            <div class="footer__signature">Made with love by pure genius</div> -->
        </footer>
    </div>
{% endif %}    
    <script src="{{url_for('static', filename = 'js/Jquery-min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/vue.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <!-- <script src="{{url_for('static', filename = 'js/index.js')}}"></script> -->
    <script type="text/javascript" charset="utf-8">
        var socket;
        $('#timestamp_solde').hide()
        $('#currency').hide()
        var temps_received = [];
        $(document).ready(function(){
                $("#card-item").hide();
                socket = io.connect('http://' + document.domain + ':' + location.port + '/profile');
                $("#play").hide();
                $("#wait").hide();
                var gain_received = [];
                socket.on('connect', function() {
                   
                   
                    let image=document.getElementById('image')
                    fetch('https://ui-avatars.com/api/?bold=true&?color=ffffff&name={{current_user.pseudo}}&background=random')
                    .then((response) => {
                        
                        return response.blob();

                    })
                    .then((data)=> {

                        
                        image.src=URL.createObjectURL(data)
                    })
                    .catch(function(error) {
                        console.log(error);
                    }); 

                    console.log()
                });

                
                socket.on('responses_server', function(msg) {
                   
                        
                    $("#numbers").show();
                    $("#live").show();
                    $("#wait").hide();
                    if (temps_received.length >= 1){
                        temps_received.shift()
                    }            
                    temps_received.push(msg.count);
                    temps_string = '';
                    for (var i = 0; i < temps_received.length; i++){
                        temps_string = temps_string + msg.times;
                    }
                    $('#times').html(temps_string);
                    temps_string1='';
                    for(var i=0; i<msg.serie.length;i++){
                        temps_string1 =temps_string1 + '<a @click="changeValue" class="numeric" data-name='+msg.serie[i]+' >' + msg.serie[i]+ '</a>';
                        
                    }$("#card-numbers").html(temps_string1);


                    $(".numeric").on("click",function(event){
                        event.preventDefault();
                        clicke=parseInt($(this).attr("data-name"));
                        console.log(clicke)
                        sessionStorage.setItem("click",clicke);
                       
                        $("#card-numbers").hide();

                        console.log(typeof(clicke))
                        socket.emit('event_pay',{'username' : "{{name}}",'data':clicke,'tag_game':msg.idgame})

                        $("#card-set").show()
                        $("#numbers").text('');
                        $("#set").text('Mises');
                        
                    })


                    if (msg.count==0){

                        $("#card-numbers").hide();
                        $("#card-set").hide();
                        $("#numbers").hide();
                        $("#numbers").text('Numéros à parier');
                        $("#set").text('');
                        $("#set-number").text('');
                        $("#possible-gain").text('');

                        $("#card-item").hide();

                        $("#live").hide();
                        $("#wait").show();
                        $("#play").hide();
                        $("#idgame").text('');
                  
                        $('#log').hide();
                        $("#valueset").text('');

                        $("#valuenums").text('');
                        socket.emit('delete_row',{'data' : "supression de ligne"})

                        socket.emit('users_results',{'data':msg.idgame,'dataset':localStorage.getItem("room"),'databet':localStorage.getItem("room72")})
                    }
                    
                     if (msg.count==120){
                         if (localStorage.getItem("room")==null || localStorage.getItem("secondroom")==null || localStorage.getItem("room72")==null ){
                                 socket.emit('leave',{'room':55,'room_second':6000,'room72':72});
                        
                         }else{
                            socket.emit('leave',{'room':localStorage.getItem("room"),'room_second':localStorage.getItem("secondroom"),'room72':localStorage.getItem("room")});
                         }
                         $("#card-numbers").show();
                         


                    }
                });

                
                socket.on('responses_server_first', function(msg) {
                   
                    console.log(msg.data)
                    mises_string1='';
                    for(var i=0; i<msg.data.length;i++){
                        mises_string1 =mises_string1 + '<a class="mises" data-name='+msg.data[i]+' >' + msg.data[i] + '</a>';
                        
                    }$("#card-set").html(mises_string1);


                    $(".mises").on("click",function(event){
                        event.preventDefault();
                        clicke=parseInt($(this).attr("data-name"));
                        console.log(clicke)
                        sessionStorage.setItem("click",clicke);
                        
                        $("#card-set").hide();
                        localStorage.setItem("room72",msg.betnumber);
                        localStorage.setItem("room",clicke);
                        let room=clicke;
                        let secondroom=msg.betnumber+clicke
                        localStorage.setItem("secondroom",secondroom);

                        socket.emit('join',{'room':room.toString(),'secondroom':secondroom.toString(),'room72':msg.betnumber.toString()});

                        console.log(typeof(clicke))
                        socket.emit('event_mise',{'username' : "{{name}}",'data':clicke,'bet_number':msg.betnumber,'idgame':msg.idgame,'statut':'live'})
                     
                        $("#set").text('Mise');
                        $("#set-number").text('Numero parier');
                        $("#possible-gain").text('Possible winning');
                       
                       
                        $("#card-item").show();



                        




                    })

                });
                socket.on('possible_gain', function(msg) {

                    $('#log').show();
                    console.log(msg.user_count)

                    if (gain_received.length >= msg.player){
                        
                        gain_received.shift()
                    }
                    gain_received.push(msg.user_count);
                    gain_string = '';
                    for (var i = 0; i <gain_received.length; i++){
                        gain_string = gain_string + '<span>XOF' +
                        +gain_received[i].toString() + '</span>';
                    }
                    $('#log').html(gain_string);
                })

                socket.on('responses_server_second', function(msg) {
                    $("#idgame").text(msg.idgame);
                   
                    
                   
                    $("#valueset").text('XOF'+msg.data);

                    $("#valuenums").text(msg.betnumber);


                    $("#btn-bet").on("click",function(event){

                        
                       
                        $("#live").hide();
                        socket.emit('event_save',{'username' : "{{name}}",'data1':msg.data,'data2':msg.idgame,'data3':msg.betnumber}) 



                    })

                })


                socket.on('responses_server_third', function(msg) {
                    
                    $("#play").show();
                    $("#live").hide();
                    $("#card-numbers").hide();
                    $("#idgame").text(msg.idgame);
                    console.log("salut")
                    
                    $("#valueset").text('XOF'+msg.data);

                    $("#valuenums").text(msg.betnumber);

                    $("#card-item").hide();
                    $("#set").text('Mise');
                    $("#set-number").text('Numero parier');
                    $("#possible-gain").text('Possible winning');
                       

                })


                socket.on('server_response_solde', function(msg) {
                    $('#timestamp_solde').show()
                    $('#currency').show()
                    $('#persist_solde').hide()   
                    $('#timestamp_solde').text(msg.data)
                })
                socket.on('detail_jeu', function(msg) {
                    $('#number_game').text(msg.numero_jeu)
                    $('#date_game').text(msg.formatted_data)
                    $('#set_game').text(msg.mise_jeu)
                    $('#bet_game').text(msg.numero_parier)
                    $('#statut_game').text(msg.statut)
                })
               
               
                                      
                
                

        });
        
    </script>
    <script>
        
        const hamburger = document.querySelector(".menu-icon");
               
        const navMenu = document.querySelector(".sidenav");
        const sidenavCloseEl =document.querySelector('.sidenav__close-icon');
        hamburger.addEventListener("click", mobileMenu);
        function mobileMenu() {
            hamburger.classList.toggle("active");
           
            navMenu.classList.toggle("active");
        
        }    
        
        sidenavCloseEl.addEventListener("click", closeMenu);
        function closeMenu() {
            hamburger.classList.remove("active");
           
            navMenu.classList.remove("active");
            
        }

       


        
    </script>
    <script>
        
        const modal = document.querySelector(".modal");
        const overlay = document.querySelector(".overlay");
        const openModalBtn = document.querySelector(".btn-open");
        const closeModalBtn = document.querySelector(".btn-close");
       
        // close modal function
        const closeModal = function () {
        modal.classList.add("hidden");
        overlay.classList.add("hidden");
        };

        // close the modal when the close button and overlay is clicked
        closeModalBtn.addEventListener("click", closeModal);
        overlay.addEventListener("click", closeModal);

        // close modal when the Esc key is pressed
        document.addEventListener("keydown", function (e) {
        if (e.key === "Escape" && !modal.classList.contains("hidden")) {
            closeModal();
        }
        });

        // open modal function
        const openModal = function () {
        modal.classList.remove("hidden");
        overlay.classList.remove("hidden");
        
        };
        // open modal event
        openModalBtn.addEventListener("click", openModal);
    </script>
    <script>
         document.getElementById("tab1").classList.add("active");
         document.getElementById("open").classList.add("active");
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("boxcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].classList.remove("active");
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].classList.remove("active");
            }
            document.getElementById(tabName).classList.add("active");
            evt.currentTarget.classList.add("active");
        }
    </script>
</body>
</html>
