{% extends "base.html" %}
{% block title %}Condition d' Utilisation - quickcash{% endblock %}

{% block logsign %}
    <a href="{{ url_for('auth.login') }}" class="navbar-item secondary">Se connecter</a></li>
   
{% endblock %}
{% block content %}
    <div class="main  texte">
        

        <h1>Les Conditions d'Utilisations</h1>

        <p class="p-1">
            En cas de modification des conditions générales d'utilisation Vous devrez accepter la nouvelle version dès la première connexion au Site suivant les modifications. En cas de refus des présentes conditions ou de leurs modifications, votre compte devra être fermé.
        </p>

        <p class="p-2">
            Les présentes Conditions générales d'utilisation constituent l'intégralité de l'accord conclu dans le cadre de l’utilisation du Site et se substituent, le cas échéant, à tout accord antérieur. Dans le cas où l'une des dispositions des présentes Conditions générales d'utilisation viendrait à être déclarée nulle ou inapplicable, elle devra alors être remplacée par une disposition valable reflétant le plus fidèlement possible l'objectif poursuivi par la disposition initiale. Les autres dispositions n'en seront pas affectées et produiront leur plein effet.Le fait de ne pas exercer les droits issus des Conditions générales d'utilisation ne constitue en aucun cas une renonciation ou une perte de ces droits.
        </p>

        <p class="p-3">
            Une inscription signifie que, vous déclarez et garantissez que :
            Vous êtes une personne majeure autorisée. Vous avez au moins dix-huit (18) ans. Vous reconnaissez que l’accès au Site est interdit aux mineurs et/ou aux majeurs protégés et que vous n'aiderez pas un mineur et/ou un majeur protégé à demander l'ouverture ou à utiliser un compte Quick cash .
        </p>

        <p class="p-4">
            Vous êtes une personne physique. Vous reconnaissez que la création et l'utilisation d'un compte Quick cash sont interdits aux robots informatiques et aux personnes morales. En cas de doute, notamment de tentative de connexions répétées, un moyen de sécurité sera déclenché permettant de vérifier que vous êtes une personne physique.
        </p>
        <p class="p-5">
            Vous ne disposez pas déjà d’un compte Quick cash actif. Nous clôturerons tous les comptes actifs ouverts au même nom ou que nous suspectons imputables à la même personne, du fait notamment de l’utilisation d’adresses IP identiques, et/ou de terminaux de connexion en commun et/ou de la prise simultanée ou quasi simultanée de paris identiques.
            Vous n'utiliserez pas le Site à des fins d'activités illégales, telles que la fraude, le blanchiment d'argent et le financement du terrorisme. Des pourVous ne disposez pas déjà d’un compte Quick cash actif. Nous clôturerons tous les comptes actifs ouverts au même nom ou que nous suspectons imputables à la même personne, du fait notamment de l’utilisation d’adresses IP identiques, et/ou de terminaux de connexion en commun et/ou de la prise simultanée ou quasi simultanée de paris identiques.
            Vous n'utiliserez pas le Site à des fins d'activités illégales, telles que la fraude, le blanchiment d'argent et le financement du terrorisme. Des poursuites pénales et/ou civiles peuvent être intentées contre vous et toute autre personne qui serait impliquée dans une telle activité, et nous nous réservons le droit de transmettre toute information, comprenant notamment vos données personnelles, qui nous serait demandée par une quelconque autorité publique compétentesuites pénales et/ou civiles peuvent être intentées contre vous et toute autre personne qui serait impliquée dans une telle activité, et nous nous réservons le droit de transmettre toute information, comprenant notamment vos données personnelles, qui nous serait demandée par une quelconque autorité publique compétente.
        </p>

        <p class="p-6">
            Vous reconnaissez que la méconnaissance des Conditions Générales / Règles des Jeux / peut entraîner des sanctions allant de l’annulation d’une action de jeu à la suspension et/ou clôture de votre Compte par Quick cash, ainsi que le blocage potentiel de votre solde.
            Le compte Quick cash :
        </p>

        <h2>COMMENT CREER VOTRE COMPTE ?</h2>

        <p>​L’accès n’est possible qu’après inscription et ouverture d’un compte Quick cash (ci-après « le Compte » ou « le Compte Joueur »). Vous pouvez vous inscrire en suivant les différentes étapes indiquées directement sur le Site.</p>
        <p>Les informations personnelles exigées lors de votre inscription sur le Site sont les suivantes : genre, nom de naissance, prénom,  et numéro de téléphone. Il vous sera ensuite demandé de choisir votre mot de passe et votre pseudonyme.</p>
        <p>Ce dernier ne pourra pas être modifié et est définitif. Le pseudonyme ne doit pas être obscène, menaçant, raciste, offensant, diffamatoire ou en violation des droits de propriété intellectuelle ou du droit de propriété d'un tiers. Quick cash pourra refuser une demande d’inscription ou bloquer l’utilisation du Compte sans avoir à vous en informer préalablement si le pseudonyme apparaît inadéquat.</p>
        <p>Toute information fournie pour Votre inscription doit être complète, précise, correcte, à jour et non mensongère. Vous vous engagez à nous informer immédiatement en cas de changement d’une de ces informations.</p>
        <p>A compter de la création de votre Compte, vous pouvez effectuer des dépôts et commencer à engager des actions de jeux. Le montant maximal cumulé que vous pouvez déposer avant vérification de votre identité est de 1 300 000 FCFA. 
        </p>
        <p>Veuillez noter que vous ne pourrez retirer vos éventuels gains qu’après avoir fourni une copie des documents suivants :
         un document d’identité en cours de validité (passeport, carte d’identité, permis de conduire, attestation d’identité telle que délivrée par l’Office National de l’Etat Civil et de l’Identification, titre de séjour ou titre provisoire de séjour).
         un code pourra vous être envoyé par message sur le numéro de téléphone enregistré sur votre Compte Joueur afin de le valider.</p>
        <p>Vous pouvez faire parvenir ce document à Quick cash en les transmettant directement via Votre Compte Joueur (rubrique « Documents »). La vérification des documents sera effective sous 48h. Vous recevrez une confirmation par email dès lors que vos documents seront validés.
            Vous devez toujours vous assurer que les liens qui prétendent vous diriger vers les pages de Quickcash.com le font réellement. La fenêtre d'adresse de votre navigateur doit commencer par https://www.quickcash.com/ pour que la connexion soit sécurisée (vérifiez la présence du cadenas sur votre écran avant d'écrire). Tout autre libellé d'adresse ne provient pas de Nous.</p>
        <p>Toute connexion avec vos identifiants et mot de passe sera réputée réalisée par vous-même. Vous êtes responsable de toute opération de jeu et transaction financière (pari, dépôt, retrait, etc.) effectuée en utilisant ces identifiants. Vous devez prendre toutes les précautions nécessaires à la confidentialité de vos données n Côte d’Ivoire. Nous n’acceptons que le mobile money.</p>
        <p>Le dépôt minimum sur votre Compte est de 200 FCFA. Nous nous réservons le droit de modifier ce montant à tout moment et de le remplacer par un autre montant que nous jugeons approprié. Le montant minimal de dépôt vous est indiqué au moment où vous y procédez.</p>
        <p>Vous avez la possibilité de déposer à tout moment, dans la limite du plafond que vous vous êtes fixé, en utilisant tout système de paiement disponible sur le Site. Nous pourrons vous demander tout document visant à confirmer l’identité du propriétaire du moyen de paiement, notamment si nous suspectons que le moyen de paiement utilisé n'appartient pas au titulaire du Compte.</p>
        <p>L'utilisation de tout moyen de paiement appartenant à des mineurs ou à des sociétés est interdite. Nous nous réservons le droit de refuser tout moyen de paiement ayant fait l’objet d’une répudiation antérieure et/ou de clôturer un Compte lié à des moyens de paiement ayant fait l’objet de répudiations,
            Vos fonds peuvent être retirés à tout moment, sauf exception liée aux règles spécifiques de certaines Offres Spéciales. Tout transfert de fonds de votre Compte s'effectuera par Mobile money virement sur votre compte ouvert auprès de prestataire de services de paiement mobile établis en Côte d’Ivoire. Les sommes créditées sur votre Compte ne peuvent être transférées sur le Compte d'un autre utilisateur du Sitepersonnelles. Quickcash ne peut en aucune manière voir sa responsabilité engagée en cas d'utilisation des Sites par un tiers au moyen de vos données personnelles.</p>
        <p>En cas de perte ou de vol de vos identifiants ou de suspicion d’utilisation par un tiers, veuillez en informer directement  <a href="mailto:cashq261@gmail.com">le Service Client</a>. Votre compte sera alors immédiatement désactivé et une enquête du support client sera diligentée.</p>
        <p>Certaines informations ne peuvent pas être modifiées en ligne. Pour tout changement, vous pouvez contacter <a href="mailto:cashq261@gmail.com">le Service Client</a>. Si la rectification concerne des informations relatives à l’Etat Civil, vous devrez nous communiquer de nouvelles pièces d’identité.</p>
        <p>Veuillez noter que certaines informations (tel que votre Pseudonyme) ne peut plus être modifié après la création du Compte.</p>
        <p>Afin de pouvoir commencer à effectuer des actions de jeux, vous devrez approvisionner votre Compte. Sauf exceptions mentionnées dans les Règles des Jeux ou dans les conditions spécifiques des Offres Spéciales, les mises placées sur des actions de jeux doivent être effectuées en FCFA.
            Votre Compte ne peut être crédité qu’au moyen d’instruments de paiement mis à disposition par un prestataire de services de paiement établie.</p>

        <div class="link">
            <a class="link-btn" href="{{ url_for('auth.signup') }}" class="navbar-item secondary">S' inscrire</a>
        </div>
    </div>
{% endblock %}  


    
     


     
