{% extends "base.html" %}
{% block title %}Reset Password -QuickCash{% endblock %}
{% block logsign %}
    <a href="{{ url_for('auth.login') }}" class="navbar-item secondary">S'inscrire</a></li>

{% endblock %}
{% block content %}
<div class="content-login">


    <div class="centre-form">
        <h1 class="name">
           Changer de mot de mot de passe quickcash
        </h1>
        <form action="{{ url_for('auth.password_reset', token=token) }}" class="password-form" method="POST">
            {{ form.csrf_token }}
            <div class="row-password wrapper form-field">
                {% if form.password.errors %}
                    <input id="password" class="input-error pass is-large" type="password"  name="password" placeholder="Mot de Passe">
                    
                    {% for error in form.password.errors %}
                            <small class="text-danger">{{ error }}</small>  
                    {% endfor %}
                   
                {% else %}
                    <input id="password" class="input-success pass is-large" type="password"  name="password" placeholder="Mot de Passe">
                   
                {% endif %}
            </div>
            <div class="row-password wrapper form-field">
                {% if form.confirm_password.errors %}
                    <input id="confirm_password" class="input-error pass is-large" type="password"  name="confirm_password" placeholder="Confirme ton mot de passe">
                    
                    {% for error in form.confirm_password.errors %}
                            <small class="text-danger">{{ error }}</small>  
                    {% endfor %}
                    <span class="show-btn"><i class="fas fa-eye"></i></span>
                {% else %}
                <input id="confirm_password" class="input-success pass is-large" type="password"  name="confirm_password" placeholder="Confirme ton mot de passe">
                    <span class="show-btn"><i class="fas fa-eye"></i></span>
                {% endif %}
            </div>
            <div class="row-btn form-field">
                <input type="submit" class="button" value="Envoyer" />
                    
            </div>
        </form>
    </div>
</div>
{% endblock %}